*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.idea

# Scala-IDE specific
.scala_dependencies
.worksheet
build
.classpath
.project
.settings
.cache-main
bin
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

#VIM specific
tags
.*.swp
.*.swo

#MAC OS specific
.DS_Store


