@(title:String)(implicit request: UserRequestHeader)
<article id="main_article"  data-view="RdfSlide" class="ui blue piled segment" >



    <h1 id="title"class="ui large header orange message">@title </h1>


    <h1 class="ui header">PAGE IS IN DEVELOPMENT</h1>
    <section class="ui segment">
        <p><b>scala-js-binding</b> provides some controls for easier dealing with data (slide is in development)
    </section>


    <div class="ui one column grid">
        <section class="row">
            <div class="column">
                Selection box with autosuggestion
            </div>
        </section>
        <section class="row">
            <div class="column">
                <section>
                    <input list="SuggestView">
                    <datalist id="character">
                        <option value="Чебурашка"></option>
                        <option value="Крокодил Гена"></option>
                        <option value="Шапокляк"></option>
                    </datalist>

                </section>
            </div>
        </section>
        <section class="row">
            <div class="column">
                Editing of schema of data
                    <table class="ui sortable table segment" data-view="ShapeEditor" data-path="shapes/endpoint" resource="http://webintelligence.eu/shapes/todo">
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                            <th>Cardinality</th>
                            <th>Save</th>
                            <th>Remove</th>
                        </tr>
                        <tr data-template="true" vocab="http://open-services.net/ns/core#">
                            <td><input type="text"  property="property"></td>
                            <td><input type="text" property="value" ></td>
                            <td><input type="text" property="cardinality">
                                                               </td>
                            <td><input type="number" property="min"></td>
                            <td><input type="number" property="max"></td>

                            <th><i class="ui save icon"></i></th>
                            <th><i class="ui remove sign icon"></i></th>
                        </tr>

                    </table>




            </div>
        </section>





    </div>


</article>

