@(title:String)(implicit request: UserRequestHeader)
<article id="main_article" data-view="RdfSlide" class="ui blue piled segment" xmlns="http://www.w3.org/1999/html">

    <h1 id="title"class="ui large header orange message">@title </h1>

    <div data-view="ShapeEditor"
    vocab="http://webintelligence.eu/"  data-param-path="papers/shapes" resource="http://webintelligence.eu/shapes/todo">
        <div class="ui equal width stackable celled grid">
            <div class="row" data-view="EditableShape" data-template="true">
                <div class="column"  data-view="ShapeProperty" data-template="true">
                    <div class="ui label">Name</div>
                    <div class="ui label">Value class</div>
                    <div class="ui label">Value class property</div>
                    <div class="ui label">Occurs</div>
                </div>
                <div class="column"  data-view="ShapeProperty" data-template="true">
                    <div data="name"> </div>
                    <div data="value-type"> </div>
                    <div data="value"> </div>
                    <div data="occurs"> </div>
                </div>
                <div class="one wide column">
                    <div class="ui positive button" data-event-click="applyShape">Apply</div>
                    <div class="ui positive button" data-event-click="addClick">Add</div>
                </div>
            </div>


        </div>
    </div>




</article>

