@import org.denigma.binding.play.UserRequestHeader

@(title:String)(implicit request: UserRequestHeader)
<article id="main_article" data-view="ArticleView" class="ui blue piled segment">
    <h1 id="title"  class="ui large header purple message">@title </h1>

    <section class="ui segment pile teal">
        <a href="http://lakhin.com/projects/papa-carlo/demo/"><img src="@routes.Assets.at("images/papa-carlo.png")"></a>

        <hr class="ui divider">
        <a href="http://lakhin.com/projects/papa-carlo/demo/">Papa-carlo Parser Demo</a>

    </section>


</article>