@(title:String)(implicit request: UserRequestHeader)
<article id="main_article"  data-view="RdfSlide" class="ui blue piled segment" >



    <h1 id="title"class="ui large header orange message">@title </h1>


    <section class="ui segment">
        <p><b>scala-js-binding</b> framework supports some SemanticWeb features. The most important is binding to RDF resources.
    </section>


    <div class="ui two column grid">
        <section class="row">
            <div class="column">

                <p>On your right you can see data loaded from play backend. You can change and save it to the server (inmemory collection is used for this demo).</p>
                <p> If you look into HTML you will see "property" attribute and "shape" attribute.
                    In RDF databases everything is described as statements ( subject -- predicate --object --context)
                    Each resource can have many statements about it </p>
                <p>Here HTML view is binded to the resource (by "data-param-resource" attribute) and "property" attribute defines  which properties of the resource to fetch.
                    There is also "data-param-shape" that defines a shape of resource. Shapes are like forms or dataviews, they define a list of properties to be loaded
                    for the resource and some contraints for them (like type, cardinality and so on)
                </p>
                <p>In this example remote fetching of RDF properties is shown, but you can write a code that will fetch any other kind of data</p>
            </div>
            <div class="column" >
                <section class="ui segment" data-view="TestModelView" vocab="http://webintelligence.eu/platform/" data-param-path="models/endpoint" data-param-resource="http://page.org" data-param-shape="http://shape.org">

                <h1>This is test rdf model that is kep in memory</h1>
                <div>
                    <h1 property="title"></h1>
                    <input property="title">
                    <p property="text"></p>
                    <textarea property="text"></textarea>


                </div>
                <div class="ui button" data-class-positive-if="dirty" data-event-click="saveClick">save</div>

                </section>



            </div>

        </section>
        <section class="row">
            <div class="column">
                <p>It is also possible to bind collections of RDF items</p>
                <textarea data-view="CodeInsideView">
                    <section id = "todos" data-view="Todos" data-param-path="todos/endpoint" data-param-query="http://webintelligence.eu/queries/todos" data-param-shape="http://webintelligence.eu/shapes/todo">

                        <div class="ui divided list">
                            <div class="item"  data-template="true" vocab="http://webintelligence.eu/platform/">
                                <div class="content ui segment">
                                    <h1 class="header" property="title"></h1>
                                    <p property="text"></p>
                                    <input type="checkbox" property="completed">
                                </div>
                            </div>

                            <a data-template="true" class="active item header" data-item-bind-href="uri" data-item-bind="label" data-load-into="main">
                                <i class="ui-icon-home"></i>
                            </a>

                    </section>
                </textarea>

            </div>
            <div class="column" >

                <h1>This is a test collection of RDF items</h1>

                    <table class="ui sortable table segment" id = "todos" data-view="Todos" data-param-path="todos/endpoint" data-param-query="http://webintelligence.eu/queries/todos" data-param-shape="http://webintelligence.eu/shapes/todo">
                            <tr><th>Title</th>
                                <th>Text</th>
                                <th>Complected</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr data-template="true" vocab="http://webintelligence.eu/platform/">
                                <td  property="title"></td>
                                <td property="text"></td>
                                <td><input type="checkbox" property="completed"></td>
                                <td><div class="ui button"><i class="ui save icon"></i></div></td>
                                <td><div class="ui button"><i class="ui remove sign icon"></i></div></td>

                            </tr>
                    </table>



            </div>

        </section>




    </div>


</article>

