@(title:String)(implicit request: UserRequestHeader)
<article id="main_article" class="ui blue piled segment" data-view="RemoteView">



    <h1 id="title"class="ui large header orange message">@title </h1>


    <section class="ui segment">
       We can also deal with remote data
    </section>


    <div class="ui two column grid">
        <section class="row">
            <div class="column">

            </div>
            <div class="column">


            </div>
        </section>



    </div>


</article>

