@(title:String)(implicit request: UserRequestHeader)
<article id="main_article" class="ui blue piled segment" data-view="RemoteSlide">



    <h1 id="title"class="ui large header orange message">@title </h1>


    <section class="ui segment">
       We can also deal with remote data (slide is in development)
    </section>


    <div class="ui two column grid">
        <section class="row">
            <div class="column">
                <h1>I am allive</h1>
                <section data-view="TestModelView">
                    <h1 property="http://hello.world.com"></h1>
                    <input property="http://hello.world.com">
                    <p property="http://text.com"></p>
                    <textarea property="http://text.com"></textarea>


                </section>
            </div>
        </section>

        <section class="row">
            <div class="column">

            </div>
        </section>

        <section class="row">
            <div class="column">
            <p></p>
            </div>
            <div class="column">
                <nav class="ui large blue inverted main menu" data-view="menu" data-param-path="menu/top">
                    <a data-template="true" class="active item header" data-item-bind-href="uri" data-item-bind="label" data-load-into="main">
                        <i class="ui-icon-home"></i>
                    </a>

                    <section class="item">

                        Create menu

                    </section>

                </nav>

            </div>
        </section>


    </div>


</article>

