@(title:String)(implicit request: UserRequestHeader)
<article id="main_article" class="ui blue piled segment">
    <h1 id="title" class="ui large header blue message">@title </h1>


    <p>Scala-js is awesome! It allows you to compile scala code to javascript.
        So you can share part of the code between backend and frontend and make your app with scala all the way down!
    </p>
    <p>        You can learn more about scalajs at its <a href="http://www.scala-js.org/">website</a>   </p>

</article>