@(title:String)(implicit request: UserRequestHeader)
<article id="main_article" data-view="ArticleView" class="ui blue piled segment">
    <h1 id="title"  class="ui large header red message">@title </h1>

    <section class="ui segment pile teal">
        <a href="http://lihaoyi.github.io/workbench-example-app/todo.html"><img src="@routes.Assets.at("images/todo.png")"></a>

        <hr class="ui divider">
        <a href="http://lihaoyi.github.io/workbench-example-app/todo.html">Papa-carlo Parser Demo</a>

    </section>


</article>