@(implicit request: UserRequestHeader)
<section  data-view="Tasks"
data-param-query="http://webintelligence.eu/queries/tasks"
data-param-shape="http://webintelligence.eu/platform/Task"
data-param-path="models/explore"
data-param-crud="models/crud"
>
    <table class="ui sortable table segment" id = "tasks">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Asigned to</th>
            <th>Priority</th>
            <th>Complected</th>
            <th></th>
            <th></th>

        </tr>
        <tr data-template="true" vocab="http://webintelligence.eu/platform/" data-item-view="task">
            <td  property="http://denigma.org/resource/title" contenteditable="true"></td>
            <td property="has_description" contenteditable="true"></td>
            <td><input type="checkbox" property="is_completed"></td>
            <td><input type="text" property="has_priority"></td>
            <td><input type="checkbox" property="is_completed"></td>
            <td><div class="ui small button" data-class-positive-if="dirty" ><i class="save icon"></i></div></td>
            <td><div class="ui small button" data-event-click = "removeClick"><i class="remove sign icon"></i></div></td>

        </tr>
    </table>
    <div class="ui positive button" data-event-click="addClick">Add</div>

</section>