body {
  padding-top: 50px;
}

.ui .input {
  display :inline-block;
  //max-width: 120px;
}

.ui .vertical .segment {
  overflow-x: scroll;
}
.ui table th {
  word-wrap: break-word;
  white-space: normal;
}

.ui table tr td {
  padding: 0 !important;
}

/*
.selectize-dropdown-content {
  overflow-x: visible !important;
}
.selectize-dropdown [data-selectable] {
  overflow-x: visible !important;
}*/
