@(implicit request: UserRequestHeader, html:Option[Html] = None,into:String = "main", leftSidebar:Boolean = true)
@import org.denigma.binding.play.UserRequestHeader
<!DOCTYPE html>


@isProd = @{
    // This is true if we are running a production build, created using dist or stage. In that
    // case, use the -opt.js file, which is much more optimized, instead of -fastopt.js.
    play.api.Play.isProd(play.api.Play.current)
}

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Binding scala-js library</title>
        @libs.libs()

        @if(isProd) {
            <script src="@routes.Assets.at("javascripts/frontend-opt.js")" type="text/javascript"></script>
        } else {
            <script src="@routes.Assets.at("javascripts/frontend-fastopt.js")" type="text/javascript"></script>
        }


    </head>
    <body>

        @header(request)
        @if(leftSidebar) {
                @sidebar(request)
                <div class="ui positive huge launch right attached button" style="width: 70px;" data-event-click="toggle">
                <i class="icon list layout"></i>
                <span class="text" style="display: none;">Sidebar</span>
                </div>
            }


        <main id="main"  style="min-height: 90%;">

            @if(html.isDefined) {
                @{html.get}
            } else {
                @{/*slides.bind("Property binding")(request)*/ /*slides.rdf("supports RDFa") */  papers.reports(request)}
            }


        </main>


    </body>
    @init(request,into, leftSidebar)


</html>

