@(implicit request: UserRequestHeader, html:Option[Html] = None,into:String = "main", leftSidebar:Boolean = true)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Binding scala-js library</title>
        @libs.libs()
        @playscalajs.html.selectScript("/assets", projectName = "frontend")


    </head>
    <body>
    <div  class="pusher">
        @header(request)
        @if(leftSidebar) {
                @sidebar(request)
                <div class="ui positive huge launch right attached button" style="width: 70px;" data-event-click="toggle">
                <i class="icon list layout"></i>
                <span class="text" style="display: none;">Sidebar</span>
                </div>
            }


        <main id="main"  style="min-height: 90%;">

            @if(html.isDefined) {
                @{html.get}
            } else {
                @{/*slides.bind("Property binding")(request)*/ /*slides.rdf("supports RDFa") */  papers.reports(request)}
            }


        </main>


        </div>

    </body>
    @init(request,into, leftSidebar)


</html>

