@(implicit request: UserRequestHeader, html:Option[Html] = None,into:String = "main")
@import org.denigma.binding.play.UserRequestHeader
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Denigma Knowledge Management System</title>
        @libs.libs()
         @if(play.Play.isDev || play.Play.isTest) {
             <script src="@routes.Assets.at("javascripts/scalajs/frontend-fastopt.js")" type="text/javascript"></script>
         } else {
             <script src="@routes.Assets.at("javascripts/scalajs/frontend-opt.js")" type="text/javascript"></script>
         }

    </head>
    <body>

        @header(request)

        <div class="ui positive huge launch right attached button" style="width: 70px;" data-event-click="toggle">
            <i class="icon list layout"></i>
            <span class="text" style="display: none;">Sidebar</span>
        </div>
        <main id="main" style="min-height: 90%;">

            @if(html.isDefined) {
                @{html.get}
            } else {
                @{/*slides.bind("Property binding")(request)*/ slides.rdf("rdf")}
            }


        </main>

        @sidebar(request)
    </body>
    @init(request,into)


</html>

