@(implicit request: UserRequestHeader)

<main id="main"   style="min-height: 90%;">

    <div class="ui positive huge launch right attached button" style="width: 70px;" data-event-click="toggle">
        <i class="icon list layout"></i>
        <span class="text" style="display: none;">Sidebar</span>
    </div>


    <article id="main_article" data-view="ArticleView" class="ui blue piled segment">
        <h1 id="title" data-bind="title" class="ui large header red message">
            </h1>

        <h2 id="authors" data-bind="authors" class="ui blue">

            </h2>

        @random(request)

        <div id="textfield" data-html = "text">

        </div>


    </article>

</main>