@(implicit request: UserRequestHeader, into:String = "main")


@libs.libs()

@if(play.Play.isDev || play.Play.isTest) {
    <script src="@routes.Assets.at("javascripts/scalajs/frontend-fastopt.js")" type="text/javascript"></script>
} else {
    <script src="@routes.Assets.at("javascripts/scalajs/frontend-opt.js")" type="text/javascript"></script>
}

<h1> This is a test!</h1>
<h2 data-view="PicklerView" data-bind="value">

</h2>

@init(request,into)

<p id="basicExample" data-view="DatepairView">

    <input type="text" class="date start" />
    to
    <input type="text" class="date end" />
</p>

@libs.datepicker()